@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.App {
  text-align: center;
}

body {
  background-color: #d2ff8a;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
}

input {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 28px;
  border: none;
  border-bottom: 5px solid rgba(0, 0, 0, 1);
  background: #f8f4e5;
  min-width: 250px;
  outline: none;
  color: rgba(0, 0, 0, 1);
  padding-left: 5px;
}

input:focus {
  border-bottom: 5px solid #d2ff8a;
}

.ErrorMsg {
  margin-top: -15px;
  color: red;
}

.RegisterForm {
  margin: 0 10%;
  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid rgba(0, 0, 0, 1);
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px rgba(0, 0, 0, 1);
}

.RegisterButton {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  line-height: 28px;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0, 0, 0, 1);
}

.RegisterButton:hover {
  background: rgba(0, 0, 0, 1);
  color: white;
  border: 1px solid rgba(0, 0, 0, 1);
}

.LoginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LoginForm {
  margin: 15px;
  width: 60%;
}

.Button {
  display: block;
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
  margin-top: 15px;
  line-height: 28px;
  padding: 0 20px;
  background: black;
  letter-spacing: 2px;
  transition: 0.2s;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 1);
}

.Button:hover {
  color: #d2ff8a;
  border: 1px solid rgba(0, 0, 0, 1);
}

.HomeBody {
  margin-left: 20%;
  margin-right: 20%;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  height: 200px;
}

.SiteTitle {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.overlay {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.dialogContainer {
  background-color: #f8f4e5;
  width: 50%;
}

.updateForm {
  background-color:#f8f4e5;
  margin: 5%;
}

.deleteForm {
  margin: 5%;
}

.MaterialsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.ButtonContainer {
  display: flex;
  width: 100%;
}

.MaterialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 2%;
  padding: 1%;
  background-color: #7a7a7a;
}

.MyMaterialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 2%;
  padding: 1%;
  background-color: #7a7a7a;
}


.MaterialHeader {
  margin: 1%;
}

.MaterialBody p {
  margin: 1%;
  font-size: large;
}
.MaterialImage {
  height: 300px;
  width: 300px;
  padding: 2%;
}

.MaterialFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
}

.MaterialForm {
  font-size: 20px;
  border: 2px solid black;
  padding: 30px;
  margin: 20px;
  background-color: #7a7a7a;
}

.ContactContainer {
  display: flex;
  flex-direction: row;
}
